body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffefba;
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
  background: linear-gradient(to right, #ffffff, #ffefba);
}

form {
  text-align: center;
  border-radius: 25px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 6px rgb(155, 155, 155);
}

input {
  width: 300px;
  height: 1.3rem;
  border: none;
  border-bottom: 1px solid rgb(73, 73, 73);
  outline: none;
  text-align: center;
  padding: 0.6rem;
}

input::placeholder {
  font-size: 1.2rem;
}
textarea {
  outline: none;
  border-radius: 10px;
}

select {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 5px;
}

.button {
  border: none;
  cursor: pointer;
  height: 2.4rem;
  border-radius: 4px;
  font-size: 1.3rem;
  color: rgb(41, 40, 40);
  background-color: rgb(243, 224, 205);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.button:hover {
  background-color: #faebb9;
}
